@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ======== VARIABLES ======== */
$header-height: 66px;
$max-body-width: 1140px;
$app-main-color: #9575cd;
$app-secondary-color: #65499c;
$combined-element-height: calc(var($header-height) + var($header-height) + 20px);

/* ======== CSS RESET & GENERAL STYLE ======== */
* {
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;

    color: #292929;
}

/* ======== BASE STYLE ======== */
body {
    background: #e9e9e9;
}

.fluid {
    height: 100%;
    width: 100%;
    max-width: $max-body-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#app {
    display: flex;
    flex-direction: column;
}

#main-nav {
    height: $header-height;
    width: 100%;
    background: white;
    top: 0;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    .nav-list {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;

        .nav-item {
            margin-left: 10px;
            font-weight: bold;
            opacity: 0.5;
            transition: all 300ms;
        }

        .nav-item:hover {
            opacity: 1;
        }

        .nav-button {
            margin-left: 10px;
        }
    }
}

#main-content {
    width: 100%;
    margin-top: 66px;
    //padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#main-footer {
    height: $header-height;
    width: 100%;
    margin-top: auto;
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
        opacity: 0.5;

        a {
            font-weight: bold;
        }
    }
}

/* ======== PAGE CONTAINER STYLE ======== */
.main-section {
    min-height: calc(100vh - 66px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-section:nth-child(even) {
    min-height: 100vh;
    background: white;
}

.main-section:last-child {
    min-height: calc(100vh - 142px);
}

.hero-wrapper {
    display: inline-flex;
    flex-direction: row;
}

.half-page-hero {
    height: auto;
    flex: 0 0 50%;
    padding: 0 10px;
}

.hero-text-container {
    padding-bottom: 50px;
    font-size: 1.25em;

    h1 {
        font-size: 1.5em;
        color: #666666;
    }

    p {
        color: #191919;

        a {
            font-style: italic;
        }
    }
}

.hero-button-container {
    margin-top: auto;
}

/* ======== APP CONTROL STYLE ======== */
.app-button {
    padding: 10px;
    color: white;
    background: $app-main-color;
    font-weight: bold;
    border-radius: 4px;
    transition: all 300ms;
}

.app-button:hover {
    padding: 10px 15px;
    background: $app-secondary-color;
}

.app-link {
    color: $app-main-color;
    transition: all 300ms;
}

.app-link:hover {
    color: $app-secondary-color;
}

/* ======== MOBILE STYLE ======== */
@media only screen and (max-width: 600px) {
    #main-footer {
        height: $header-height;
    }

    .hero-wrapper {
        flex-direction: column;
    }

    .half-page-hero {
        flex: 1;
        padding-bottom: 55px;
    }
}
